---
import { Image } from "astro:assets";
import facilityImage from "@images/post-harvest-facility.webp";
---

<section class="w-full h-[500px] overflow-hidden">
  <div class="inset-0">
    <Image
      src={facilityImage}
      alt="Groqo facility aerial view"
      class="w-full h-full object-cover"
    />
  </div>
</section>
