---
import Layout from "../layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/aboutUs/Hero.astro";
import CompanyDetails from "@components/aboutUs/CompanyDetails.astro";
import Location from "@components/aboutUs/Location.astro";
---

<Layout
  title="Groqo | About Us"
  description="Groqo is a leading provider of pharmaceutical-grade cannabis flowers with a commitment to quality and innovation."
>
  <main class="min-h-screen">
    <Hero />
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-16 lg:py-24">
      <CompanyDetails />
    </div>
    <Location />
  </main>
  <Footer />
</Layout>
