---
import { Image } from "astro:assets";
import DesktopHeroImage from "@images/hero-banner.webp";
import MobileHeroImage from "@images/hero-mobile.webp";
---

<section
  class="relative px-4 sm:px-0 pt-20 lg:py-24 overflow-hidden bg-gradient-to-br from-gray-50 via-white to-gray-50"
>
  <div class="relative z-10">
    <div
      class="flex flex-col md:flex-row items-center md:items-start justify-between gap-12 max-w-6xl mx-auto"
    >
      <!-- Text Content -->
      <div class="md:w-1/2 space-y-6 md:space-y-8">
        <h1
          class="text-5xl md:text-6xl font-bold text-gray-900 leading-tight tracking-tight"
        >
          Premium Cannabis<br />Flowers
        </h1>

        <p class="text-xl md:text-2xl text-gray-700 leading-relaxed max-w-xl">
          EU-GMP compliant THC and CBD flowers, dried with state-of-the-art
          technology to preserve terpene profiles and ensure consistent
          batch-to-batch quality
        </p>

        <div class="pt-4 flex flex-wrap gap-4">
          <a
            href="/#contact"
            class="inline-flex items-center justify-center px-8 py-3 border border-transparent rounded-full shadow-lg text-base font-medium text-white bg-primary-green hover:bg-primary-green-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-green transition-all duration-200"
          >
            Partner With Us
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 ml-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg>
          </a>

          <a
            href="/cannabis-flowers"
            class="inline-flex items-center justify-center px-8 py-3 border border-primary-green rounded-full text-base font-medium text-primary-green focus:outline-none transition-all duration-200"
          >
            Explore Products
          </a>
        </div>
      </div>

      <!-- Desktop Image -->
      <div class="hidden md:block md:absolute md:-top-25 -z-10">
        <Image
          src={DesktopHeroImage}
          alt="Pharmaceutical Grade Cannabis Flowers"
          class="w-auto object-contain md:max"
        />
      </div>

      <!-- Mobile Image -->
      <div class="block md:hidden -mx-4 bottom-0">
        <Image
          src={MobileHeroImage}
          alt="Pharmaceutical Grade Cannabis Flowers"
          class="w-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
