---
import { Image } from "astro:assets";
import heroImage from "@images/hero.webp";
---

<section class="hero min-h-[70vh] bg-gray py-12 px-4 md:px-8 lg:px-16">
  <div class="container mx-auto mt-1 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center justify-between gap-8">
      <!-- Text Content -->
      <div class="md:w-1/2 space-y-6">
        <h1 class="text-5xl md:text-6xl font-bold text-gray-900 leading-tight">
          Pharma grade<br />Cannabis Flowers
        </h1>
        <p class="text-xl md:text-2xl text-gray-700">
          Purity, efficacy, and safety in every flower
        </p>
      </div>

      <!-- Image -->
      <div class="md:w-1/2 flex justify-center md:justify-end">
        <Image
          src={heroImage}
          alt="Pharmaceutical Grade Cannabis Flowers"
          class="w-full max-w-3xl object-contain"
        />
      </div>
    </div>
  </div>
</section>
