---
import { Image } from "astro:assets";
import logo from "@images/logo.png";
---

<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center w-full">
      <div class="flex items-center">
        <!-- Mobile menu dropdown -->
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="/" class="font-medium py-2">HOME</a></li>
            <li>
              <a href="/cannabis-flowers" class="font-medium py-2">PRODUCTS</a>
            </li>
            <li>
              <a href="/drying-tech" class="font-medium py-2">POST-HARVEST</a>
            </li>
            <li><a href="/about-us" class="font-medium py-2">ABOUT US</a></li>
            <li><a href="/blog" class="font-medium py-2">BLOG</a></li>
          </ul>
        </div>
        <!-- Logo -->
        <div class="mx-2">
          <a href="/">
            <Image src={logo} alt="logo" class="h-10 w-auto" />
          </a>
        </div>
      </div>

      <!-- Desktop menu -->
      <div class="hidden lg:flex">
        <ul class="flex space-x-6">
          <li>
            <a href="/" class="font-medium px-2 py-1 hover:text-primary">HOME</a
            >
          </li>
          <li>
            <a
              href="/cannabis-flowers"
              class="font-medium px-2 py-1 hover:text-primary">PRODUCTS</a
            >
          </li>
          <li>
            <a
              href="/drying-tech"
              class="font-medium px-2 py-1 hover:text-primary">POST-HARVEST</a
            >
          </li>
          <li>
            <a href="/about-us" class="font-medium px-2 py-1 hover:text-primary"
              >ABOUT US</a
            >
          </li>
          <li>
            <a href="/blog" class="font-medium px-2 py-1 hover:text-primary"
              >BLOG</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
