---
import { Image } from "astro:assets";
import logo from "@images/logo.png";
---

<div class="navbar bg-base-100 shadow-sm px-4 md:px-8 lg:px-16">
  <div class="navbar-start">
    <!-- Mobile menu dropdown -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/" class="font-medium">HOME</a></li>
        <li><a href="/cannabis-flowers" class="font-medium">PRODUCTS</a></li>
        <li><a href="/drying-tech" class="font-medium">POST-HARVEST</a></li>
        <li><a href="/about-us" class="font-medium">ABOUT US</a></li>
        <li><a href="/blog" class="font-medium">BLOG</a></li>
      </ul>
    </div>
    <!-- Logo -->
    <div class="px-2 mx-2">
      <Image src={logo} alt="logo" class="h-10 w-auto" />
    </div>
  </div>

  <!-- Desktop menu -->
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/" class="font-medium">HOME</a></li>
      <li><a href="/cannabis-flowers" class="font-medium">PRODUCTS</a></li>
      <li><a href="/drying-tech" class="font-medium">POST-HARVEST</a></li>
      <li><a href="/about-us" class="font-medium">ABOUT US</a></li>
      <li><a href="/blog" class="font-medium">BLOG</a></li>
    </ul>
  </div>
</div>
